<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.38.1/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!-- <div class="container">

    <div class="jumbotron text-center">
        <h1>21 Savage Fan Site</h1>
     <img src="img/savage21.jpg" alt="21 Savage Profile Photo">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>
    

</div> -->
    <!-- Login area -->

    <div class=" flex flex-col justify-center items-center h-screen  gap-8 grid-cols-1">
        <div> 
            <h1 class="index-header text-8xl text-white">21 Savage Fan Site</h1>
            
    
        </div>
        <div>
            <a href="/login" class="btn bg-white text-red-400 bg-white justify-center">Login</a>
            <a href="/signup" class="btn bg-white text-red-400 bg-white  justify-center">Signup</a>
        </div>
      </div>


     <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>
