@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Kaushan+Script&family=PT+Sans+Caption:wght@400;700&display=swap');

:root, body{
  word-wrap:break-word;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.2),
    rgba(255, 0, 0, 0.5)
  ), url("./img/wp1.png");
  /* https://stackoverflow.com/questions/16841323/making-gradient-background-fill-page-with-css */
  /* This was mad hepful and background mdn */
    background-size: 110%;
    height: 100%;
  
 
}

.index-header {
  font-family: 'Kaushan Script', cursive, 'Arial';
 
}

.container {
  padding-top: 12%;
}

h1, h2, h3, span {
  color: white
}

.well {
  color: rgb(255, 0, 0);
  background-color: black;
}